body {
  font-family: sans-serif;
  width: 99%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--background-clolor); */

  color: white;
  /* RGB(12 22 59) */
  /* RGB(37 62 102) */
  /* rgb(209,63,48) */
}

.container {
  width: 400px;
  /* border: 1px solid royalblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
.calc-theme {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.3rem;
  /* padding: 0 0; */
}
.theme {
  width: 26%;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.theme-btn {
  width: 50px;
  padding: 0.6rem;
  border: none;
  border-radius: 0.6rem;
  position: relative;
}
.theme-btn p {
  position: absolute;
  width: 100%;
  left: 0;
  top: -2.3rem;
  font-family: "Covered By Your Grace", cursive;
  /* color: white; */
  font-size: larger;
}

.toggle {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 3px;
  top: 3px;
  border-radius: 0.8rem;
  transition: all 0.4s;
}

.inputs {
  width: 95%;
  min-height: 50px;
  padding: 1.6rem 0.7rem 0.8rem 0.7rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.7rem;
  word-break: break-all;
  word-wrap: break-word;
}
.numbers-operators {
  width: 92%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 1rem;
  place-content: center;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
}
.numbers-operators button {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  border-bottom: 0.2rem solid;
}

.numbers-operators button:hover {
  border: none;
  opacity: 0.7;
}

.numbers-operators .span-2 {
  /* width: 100%; */
  grid-column: span 2;
}

.body-1 {
  background-color: hsl(222, 26%, 31%);
  color: black;
}
.calc-theme-1 {
  color: white;
}
.theme-btn-1 {
  background-color: hsl(223, 31%, 20%);
  color: white;
}
.toggle-1 {
  background-color: hsl(6, 63%, 50%);
}
.inputs-1 {
  background-color: hsl(224, 36%, 15%);
  color: white;
}
.numbers-operators-1 {
  background-color: hsl(223, 31%, 20%);
}
.numbers-operators .keys-1 {
  background-color: hsl(30, 25%, 89%);
  border-bottom-color: hsl(28, 16%, 65%);
}

.numbers-operators .reset-del-1 {
  background-color: hsl(225, 21%, 49%);
  border-bottom-color: hsl(224, 28%, 35%);
  color: white;
}
.numbers-operators .equals-1 {
  background-color: hsl(6, 63%, 50%);
  border-bottom-color: hsl(6, 70%, 34%);
}

/* /////////theme-2 */
.body-2 {
  background-color: hsl(0, 0%, 90%);
  color: black;
}
.calc-theme-2 {
  color: black;
}
.theme-btn-2 {
  background-color: hsl(0, 5%, 81%);
}
.toggle-2 {
  background-color: hsl(25, 98%, 40%);
}
.inputs-2 {
  background-color: hsl(0, 0%, 93%);
}
.numbers-operators-2 {
  background-color: hsl(0, 5%, 81%);
}
.numbers-operators .keys-2 {
  background-color: hsl(45, 7%, 89%);
  border-bottom-color: hsl(35, 11%, 61%);
}

.numbers-operators .reset-del-2 {
  background-color: hsl(185, 42%, 37%);
  border-bottom-color: hsl(185, 58%, 25%);
  color: white;
}
.numbers-operators .equals-2 {
  background-color: hsl(25, 98%, 40%);
  border-bottom-color: hsl(25, 99%, 27%);
}

/* theme 3 */

.body-3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}
.calc-theme-3 {
  color: hsl(52, 100%, 62%);
}
.theme-btn-3 {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}
.toggle-3 {
  background-color: hsl(176, 100%, 44%);
}
.inputs-3 {
  background-color: hsl(268, 71%, 12%);
}
.numbers-operators-3 {
  background-color: hsl(268, 71%, 12%);
}
.numbers-operators .keys-3 {
  background-color: hsl(268, 47%, 21%);
  border-bottom-color: hsl(285, 91%, 52%);
  color: hsl(52, 100%, 62%);
}

.numbers-operators .reset-del-3 {
  background-color: hsl(281, 89%, 26%);
  border-bottom-color: hsl(290, 70%, 36%);
  color: white;
}
.numbers-operators .equals-3 {
  background-color: hsl(176, 100%, 44%);
  border-bottom-color: hsl(177, 92%, 70%);
}

@media all and (max-width: 650px) {
  .container {
    width: 90%;
    /* border: 1px solid royalblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
  }
  .calc-theme {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
    /* padding: 0 0; */
  }
  .theme {
    width: 36%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .theme-btn {
    width: 50px;
    padding: 0.6rem;
    border: none;
    border-radius: 0.6rem;
    position: relative;
  }
  .theme-btn p {
    position: absolute;
    width: 100%;
    left: 0;
    top: -2.3rem;
    font-family: "Covered By Your Grace", cursive;
    /* color: white; */
    font-size: larger;
  }

  .toggle {
    width: 13px;
    height: 13px;
    position: absolute;
    left: 3px;
    top: 3px;
    border-radius: 0.8rem;
    transition: all 0.4s;
  }

  .inputs {
    width: 95%;
    min-height: 50px;
    padding: 1.6rem 0.7rem 0.8rem 0.7rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 0.7rem;
    word-break: break-all;
    word-wrap: break-word;
  }
  .numbers-operators {
    width: 92%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 1rem;
    place-content: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .numbers-operators button {
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    border-bottom: 0.2rem solid;
  }
  .numbers-operators #del {
    font-size: 1rem;
  }
}
